.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25%;
    color: rgb(180, 156, 150);
    width: 40%;
}
.buttonBox{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.button{
    background-color: inherit;
    color: rgb(180, 156, 150);
    border: none;
}
#title{
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}